fastapi
uvicorn
python-dotenv
httpx
llama-index
llama-index-llms-openai-like
llama-index-embeddings-huggingface
llama-index-postprocessor-flag-embedding-reranker
FlagEmbedding
llama-index-vector-stores-qdrant
qdrant-client
redis
unstructured
yfinance
llama-index-tools-yahoo-finance
fastembed
pydantic
pydantic-settings
sse-starlette
vaderSentiment
